config ETH_IPQ5332
	depends on DM && QCOM_NSS_SWITCH && TARGET_IPQ5332
	default y
	bool "Ethernet driver for QCOM IPQ5332"
	help
	  Enable this to support the ethernet in IPQ5332 SoCs.

config ETH_IPQ9574
	depends on DM && QCOM_NSS_SWITCH && TARGET_IPQ9574
	default y
	bool "Ethernet driver for QCOM IPQ9574"
	help
	  Enable this to support the ethernet in QCOM IPQ9574 Soc.

config ETH_IPQ5424
	depends on DM && QCOM_NSS_SWITCH && TARGET_IPQ5424
	default y
	bool "Ethernet driver for QCOM IPQ5424"
	help
	  Enable this to support the ethernet in QCOM IPQ5424 Soc.

config ETH_LOW_MEM
	depends on DM && QCOM_NSS_SWITCH
	default n
	bool "Enable low memory configuration on IPQ ethernet driver"
	help
	  Enable low memory configuration on IPQ SoC ethernet driver
