// SPDX-License-Identifier: GPL-2.0-only
/*
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 */

/dts-v1/;

#include "ipq5424.dtsi"
#include <asm/arch/dt-bindings/clock/qcom,qce2204-nsscc.h>
#include <asm/arch/dt-bindings/reset/qcom,qce2204-nsscc.h>

/ {
	model = "Qualcomm Technologies, Inc. IPQ5424 RDP464-QCE2204";
	compatible = "qcom,ipq5424-rdp464-qce2204", "qcom,ipq5424";

	aliases {
		serial0 = &uart1;
	};

	soc@0 {
		qmp_ssphy_0: ssphy@7D000 {
			status = "okay";
		};

		qusb2_phy_0: qusb2_0@7B000 {
			status = "okay";
		};

		usb3_0: usb3_0@8af8800 {
			status = "okay";
		};

		qusb2_phy_1: qusb2_1@71000 {
			status = "okay";
		};

		usb2_0: usb2_0@1ef8800 {
			status = "okay";
		};

		mdio: mdio@90000 {
			pinctrl-names = "default";
			pinctrl-0 = <&mdio_pinmux>;
			status = "okay";
			qcom,package-mode = "internal";
			#address-cells = <1>;
			#size-cells = <0>;

			/* QCE2204 clock/reset controller at MDIO address 6 */
			qce2204_cc: clock-controller@6 {
				#address-cells = <0>;
				#size-cells = <0>;
				compatible = "qcom,qce2204-nsscc";
				reg = <6 0>;
				#clock-cells = <1>;
				#reset-cells = <1>;
			};

			phy0: phy@8 {
				phy-reset-gpio = <&tlmm 36 0>;
				phy_addr = <8>;
				phy_type = <QCA81xx_PHY_TYPE>;
				id = <1>;
				uniphy_id = <0>;
				uniphy_type = <0>;
				xgmac;
			};

			phy1: ethernet-switch@1 {
				phy-reset-gpio = <&tlmm 18 0>;
				dev-mode = <0x1>;
				phy_addr = <0>;
				phy_type = <QCE2204_SWITCH_TYPE>;
				id = <3>;
				uniphy_id = <2>;
				uniphy_type = <0>;
				max_speed = <2500>;
				force-speed;
				xgmac;
				qcom,package-mode = "internal";
				base_addr = <0>;

				/* Per-PHY clocks */
				clocks = <&qce2204_cc QCE2204_NSSCC_SRDS1_SYS_CLK>,
					<&qce2204_cc QCE2204_NSSCC_MAC1_GEPHY0_TX_CLK>,
					<&qce2204_cc QCE2204_NSSCC_MAC1_GEPHY0_RX_CLK>,
					<&qce2204_cc QCE2204_NSSCC_GEPHY0_SYS_CLK>,
					/* Shared clocks for package */
					<&qce2204_cc QCE2204_NSSCC_MAC1_SRDS1_CH0_TX_CLK>,
					<&qce2204_cc QCE2204_NSSCC_MAC1_SRDS1_CH0_RX_CLK>,
					<&qce2204_cc QCE2204_NSSCC_MAC0_1_SRDS1_CH0_XGMII_TX_CLK>,
					<&qce2204_cc QCE2204_NSSCC_MAC0_1_SRDS1_CH0_XGMII_RX_CLK>,
					<&qce2204_cc QCE2204_NSSCC_MAC2_SRDS1_CH1_TX_CLK>,
					<&qce2204_cc QCE2204_NSSCC_MAC2_SRDS1_CH1_RX_CLK>,
					<&qce2204_cc QCE2204_NSSCC_MAC2_SRDS1_CH1_XGMII_TX_CLK>,
					<&qce2204_cc QCE2204_NSSCC_MAC2_SRDS1_CH1_XGMII_RX_CLK>,
					<&qce2204_cc QCE2204_NSSCC_MAC3_SRDS1_CH2_TX_CLK>,
					<&qce2204_cc QCE2204_NSSCC_MAC3_SRDS1_CH2_RX_CLK>,
					<&qce2204_cc QCE2204_NSSCC_MAC3_SRDS1_CH2_XGMII_TX_CLK>,
					<&qce2204_cc QCE2204_NSSCC_MAC3_SRDS1_CH2_XGMII_RX_CLK>,
					<&qce2204_cc QCE2204_NSSCC_MAC4_SRDS1_CH3_TX_CLK>,
					<&qce2204_cc QCE2204_NSSCC_MAC4_SRDS1_CH3_RX_CLK>,
					<&qce2204_cc QCE2204_NSSCC_MAC4_SRDS1_CH3_XGMII_TX_CLK>,
					<&qce2204_cc QCE2204_NSSCC_MAC4_SRDS1_CH3_XGMII_RX_CLK>,
					<&qce2204_cc QCE2204_NSSCC_AHB_CLK>,
					<&qce2204_cc QCE2204_NSSCC_SWITCH_CORE_CLK>,
					<&qce2204_cc QCE2204_NSSCC_SWITCH_IPE_CLK>,
					<&qce2204_cc QCE2204_NSSCC_SWITCH_BTQ_CLK>,
					<&qce2204_cc QCE2204_NSSCC_SWITCH_CFG_CLK>,
					<&qce2204_cc QCE2204_NSSCC_APB_BRIDGE_CLK>,
					<&qce2204_cc QCE2204_NSSCC_MAC0_TX_CLK>,
					<&qce2204_cc QCE2204_NSSCC_MAC0_RX_CLK>,
					<&qce2204_cc QCE2204_NSSCC_MAC1_TX_CLK>,
					<&qce2204_cc QCE2204_NSSCC_MAC1_RX_CLK>,
					<&qce2204_cc QCE2204_NSSCC_MAC2_TX_CLK>,
					<&qce2204_cc QCE2204_NSSCC_MAC2_RX_CLK>,
					<&qce2204_cc QCE2204_NSSCC_MAC3_TX_CLK>,
					<&qce2204_cc QCE2204_NSSCC_MAC3_RX_CLK>,
					<&qce2204_cc QCE2204_NSSCC_MAC4_TX_CLK>,
					<&qce2204_cc QCE2204_NSSCC_MAC4_RX_CLK>,
					<&qce2204_cc QCE2204_NSSCC_MAC5_TX_CLK>,
					<&qce2204_cc QCE2204_NSSCC_MAC5_RX_CLK>;
				clock-names = "pcs_sys_clk", "tx_clk", "rx_clk", "sys_clk",
					"ch0_gmii_tx_clk",
					"ch0_gmii_rx_clk",
					"ch0_xgmii_tx_clk",
					"ch0_xgmii_rx_clk",
					"ch1_gmii_tx_clk",
					"ch1_gmii_rx_clk",
					"ch1_xgmii_tx_clk",
					"ch1_xgmii_rx_clk",
					"ch2_gmii_tx_clk",
					"ch2_gmii_rx_clk",
					"ch2_xgmii_tx_clk",
					"ch2_xgmii_rx_clk",
					"ch3_gmii_tx_clk",
					"ch3_gmii_rx_clk",
					"ch3_xgmii_tx_clk",
					"ch3_xgmii_rx_clk",
					"ahb_clk",
					"switch_core_clk",
					"switch_ipe_clk",
					"switch_btq_clk",
					"switch_cfg_clk",
					"switch_apb_clk",
					"mac0_tx_clk",
					"mac0_rx_clk",
					"mac1_tx_clk",
					"mac1_rx_clk",
					"mac2_tx_clk",
					"mac2_rx_clk",
					"mac3_tx_clk",
					"mac3_rx_clk",
					"mac4_tx_clk",
					"mac4_rx_clk",
					"mac5_tx_clk",
					"mac5_rx_clk";

				/* Per-PHY resets */
				resets = <&qce2204_cc QCE2204_NSSCC_SRDS1_SYS_ARES>,
					<&qce2204_cc QCE2204_NSSCC_MAC1_GEPHY0_TX_ARES>,
					<&qce2204_cc QCE2204_NSSCC_MAC1_GEPHY0_RX_ARES>,
					<&qce2204_cc QCE2204_NSSCC_GEPHY0_SYS_ARES>,
					/* Shared resets for package */
					<&qce2204_cc QCE2204_NSSCC_MAC1_SRDS1_CH0_TX_ARES>,
					<&qce2204_cc QCE2204_NSSCC_MAC1_SRDS1_CH0_RX_ARES>,
					<&qce2204_cc QCE2204_NSSCC_MAC0_1_SRDS1_CH0_XGMII_TX_ARES>,
					<&qce2204_cc QCE2204_NSSCC_MAC0_1_SRDS1_CH0_XGMII_RX_ARES>,
					<&qce2204_cc QCE2204_NSSCC_MAC2_SRDS1_CH1_TX_ARES>,
					<&qce2204_cc QCE2204_NSSCC_MAC2_SRDS1_CH1_RX_ARES>,
					<&qce2204_cc QCE2204_NSSCC_MAC2_SRDS1_CH1_XGMII_TX_ARES>,
					<&qce2204_cc QCE2204_NSSCC_MAC2_SRDS1_CH1_XGMII_RX_ARES>,
					<&qce2204_cc QCE2204_NSSCC_MAC3_SRDS1_CH2_TX_ARES>,
					<&qce2204_cc QCE2204_NSSCC_MAC3_SRDS1_CH2_RX_ARES>,
					<&qce2204_cc QCE2204_NSSCC_MAC3_SRDS1_CH2_XGMII_TX_ARES>,
					<&qce2204_cc QCE2204_NSSCC_MAC3_SRDS1_CH2_XGMII_RX_ARES>,
					<&qce2204_cc QCE2204_NSSCC_MAC4_SRDS1_CH3_TX_ARES>,
					<&qce2204_cc QCE2204_NSSCC_MAC4_SRDS1_CH3_RX_ARES>,
					<&qce2204_cc QCE2204_NSSCC_MAC4_SRDS1_CH3_XGMII_TX_ARES>,
					<&qce2204_cc QCE2204_NSSCC_MAC4_SRDS1_CH3_XGMII_RX_ARES>,
					<&qce2204_cc QCE2204_NSSCC_SRDS1_XPCS_ARES>,
					<&qce2204_cc QCE2204_NSSCC_SWITCH_BTQ_ARES>,
					<&qce2204_cc QCE2204_NSSCC_SWITCH_CFG_ARES>,
					<&qce2204_cc QCE2204_NSSCC_SWITCH_CORE_ARES>,
					<&qce2204_cc QCE2204_NSSCC_SWITCH_IPE_ARES>,
					<&qce2204_cc QCE2204_NSSCC_SWITCH_MAC0_ARES>,
					<&qce2204_cc QCE2204_NSSCC_SWITCH_MAC1_ARES>,
					<&qce2204_cc QCE2204_NSSCC_SWITCH_MAC2_ARES>,
					<&qce2204_cc QCE2204_NSSCC_SWITCH_MAC3_ARES>,
					<&qce2204_cc QCE2204_NSSCC_SWITCH_MAC4_ARES>,
					<&qce2204_cc QCE2204_NSSCC_SWITCH_MAC5_ARES>,
					<&qce2204_cc QCE2204_NSSCC_XGMAC0_PTP_REF_ARES>,
					<&qce2204_cc QCE2204_NSSCC_XGMAC1_PTP_REF_ARES>,
					<&qce2204_cc QCE2204_NSSCC_MAC0_TX_ARES>,
					<&qce2204_cc QCE2204_NSSCC_MAC0_RX_ARES>,
					<&qce2204_cc QCE2204_NSSCC_MAC1_TX_ARES>,
					<&qce2204_cc QCE2204_NSSCC_MAC1_RX_ARES>,
					<&qce2204_cc QCE2204_NSSCC_MAC2_TX_ARES>,
					<&qce2204_cc QCE2204_NSSCC_MAC2_RX_ARES>,
					<&qce2204_cc QCE2204_NSSCC_MAC3_TX_ARES>,
					<&qce2204_cc QCE2204_NSSCC_MAC3_RX_ARES>,
					<&qce2204_cc QCE2204_NSSCC_MAC4_TX_ARES>,
					<&qce2204_cc QCE2204_NSSCC_MAC4_RX_ARES>,
					<&qce2204_cc QCE2204_NSSCC_MAC5_TX_ARES>,
					<&qce2204_cc QCE2204_NSSCC_MAC5_RX_ARES>;
				reset-names = "pcs_sys_reset", "tx_reset", "rx_reset", "sys_reset",
					"ch0_gmii_tx_reset",
					"ch0_gmii_rx_reset",
					"ch0_xgmii_tx_reset",
					"ch0_xgmii_rx_reset",
					"ch1_gmii_tx_reset",
					"ch1_gmii_rx_reset",
					"ch1_xgmii_tx_reset",
					"ch1_xgmii_rx_reset",
					"ch2_gmii_tx_reset",
					"ch2_gmii_rx_reset",
					"ch2_xgmii_tx_reset",
					"ch2_xgmii_rx_reset",
					"ch3_gmii_tx_reset",
					"ch3_gmii_rx_reset",
					"ch3_xgmii_tx_reset",
					"ch3_xgmii_rx_reset",
					"xpcs",
					"switch_btq_reset",
					"switch_cfg_reset",
					"switch_core_reset",
					"switch_ipe_reset",
					"switch_mac0_reset",
					"switch_mac1_reset",
					"switch_mac2_reset",
					"switch_mac3_reset",
					"switch_mac4_reset",
					"switch_mac5_reset",
					"xgmac0_ptp_ref_reset",
					"xgmac1_ptp_ref_reset",
					"mac0_tx_reset",
					"mac0_rx_reset",
					"mac1_tx_reset",
					"mac1_rx_reset",
					"mac2_tx_reset",
					"mac2_rx_reset",
					"mac3_tx_reset",
					"mac3_rx_reset",
					"mac4_tx_reset",
					"mac4_rx_reset",
					"mac5_tx_reset",
					"mac5_rx_reset";
				ports {
					#address-cells = <1>;
					#size-cells = <0>;

					port1: port@1 {
						port-id = <1>;
						phy_addr = <0>;
						label = "lan";
						clocks = <&qce2204_cc QCE2204_NSSCC_MAC1_GEPHY0_TX_CLK>,
							<&qce2204_cc QCE2204_NSSCC_MAC1_GEPHY0_RX_CLK>,
							<&qce2204_cc QCE2204_NSSCC_GEPHY1_SYS_CLK>;
						clock-names = "tx_clk", "rx_clk", "sys_clk";


						resets = <&qce2204_cc QCE2204_NSSCC_MAC1_GEPHY0_TX_ARES>,
							<&qce2204_cc QCE2204_NSSCC_MAC1_GEPHY0_RX_ARES>,
							<&qce2204_cc QCE2204_NSSCC_GEPHY1_SYS_ARES>;
						reset-names = "tx_reset", "rx_reset", "sys_reset";
					};

					port2: port@2 {
						port-id = <2>;
						phy_addr = <1>;
						label = "lan";
						clocks = <&qce2204_cc QCE2204_NSSCC_MAC2_GEPHY1_TX_CLK>,
							<&qce2204_cc QCE2204_NSSCC_MAC2_GEPHY1_RX_CLK>,
							<&qce2204_cc QCE2204_NSSCC_GEPHY1_SYS_CLK>;
						clock-names = "tx_clk", "rx_clk", "sys_clk";


						resets = <&qce2204_cc QCE2204_NSSCC_MAC2_GEPHY1_TX_ARES>,
							<&qce2204_cc QCE2204_NSSCC_MAC2_GEPHY1_RX_ARES>,
							<&qce2204_cc QCE2204_NSSCC_GEPHY1_SYS_ARES>;
						reset-names = "tx_reset", "rx_reset", "sys_reset";
					};

					port3: port@3 {
						port-id = <3>;
						phy_addr = <2>;
						label = "lan";
						clocks = <&qce2204_cc QCE2204_NSSCC_MAC3_GEPHY2_TX_CLK>,
							<&qce2204_cc QCE2204_NSSCC_MAC3_GEPHY2_RX_CLK>,
							<&qce2204_cc QCE2204_NSSCC_GEPHY2_SYS_CLK>;
						clock-names = "tx_clk", "rx_clk", "sys_clk";

						resets = <&qce2204_cc QCE2204_NSSCC_MAC3_GEPHY2_TX_ARES>,
							<&qce2204_cc QCE2204_NSSCC_MAC3_GEPHY2_RX_ARES>,
							<&qce2204_cc QCE2204_NSSCC_GEPHY2_SYS_ARES>;
						reset-names = "tx_reset", "rx_reset", "sys_reset";
					};

					port4: port@4 {
						port-id = <4>;
						phy_addr = <3>;
						label = "lan";
						clocks = <&qce2204_cc QCE2204_NSSCC_MAC4_GEPHY3_TX_CLK>,
							<&qce2204_cc QCE2204_NSSCC_MAC4_GEPHY3_RX_CLK>,
							<&qce2204_cc QCE2204_NSSCC_GEPHY3_SYS_CLK>;
						clock-names = "tx_clk", "rx_clk", "sys_clk";

						resets = <&qce2204_cc QCE2204_NSSCC_MAC4_GEPHY3_TX_ARES>,
							<&qce2204_cc QCE2204_NSSCC_MAC4_GEPHY3_RX_ARES>,
							<&qce2204_cc QCE2204_NSSCC_GEPHY3_SYS_ARES>;
						reset-names = "tx_reset", "rx_reset", "sys_reset";
					};
				};
			};
		};

		ethernet: nss-switch {
			pinctrl-names = "default";
			pinctrl-0 = <&phy_rst_pinmux>;
			phy-handle0 = <&phy0>;
			phy-handle1 = <&phy1>;
			status = "okay";
		};

		pcie0: pcie@70000000 {
			pinctrl-0 = <&pcie0_default_state>;
			pinctrl-names = "default";
			perst-gpios = <&tlmm 25 GPIO_ACTIVE_LOW>;
			status = "okay";
		};

		pcie1: pcie@60000000 {
			pinctrl-0 = <&pcie1_default_state>;
			pinctrl-names = "default";
			status = "okay";
			perst-gpios = <&tlmm 28 GPIO_ACTIVE_LOW>;
		};

		pcie2: pcie@50000000 {
			pinctrl-0 = <&pcie2_default_state>;
			pinctrl-names = "default";
			status = "okay";
			perst-gpios = <&tlmm 31 GPIO_ACTIVE_LOW>;
		};

		pcie3: pcie@40000000 {
			pinctrl-0 = <&pcie3_default_state>;
			pinctrl-names = "default";
			status = "okay";
			perst-gpios = <&tlmm 34 GPIO_ACTIVE_LOW>;
		};
	};
};

&tlmm {
	mdio_pinmux: mdio {
		mdc {
			pins = "gpio22";
			function = "mdc_mst";
			drive-strength = <8>;
			bias-disable;
		};

		mdio {
			pins = "gpio23";
			function = "mdio_mst";
			drive-strength = <8>;
			bias-pull-up;
		};
	};

	phy_rst_pinmux: phy_rst {
		qti_laguna0_rst {
			pins = "gpio36";
			drive-strength = <8>;
			bias-pull-up;
		};

		qti_laguna1_rst {
			pins = "gpio37";
			drive-strength = <8>;
			bias-pull-up;
		};

		qti_qce1204_rst {
			pins = "gpio18";
			drive-strength = <8>;
			bias-pull-up;
		};
	};

	i2c0_pinmux: i2c0 {
		i2c0_scl {
			pins = "gpio14";
			function = "i2c0_scl";
			drive-strength = <2>;
			bias-pull-up;
		};

		i2c0_sda {
			pins = "gpio15";
			function = "i2c0_sda";
			drive-strength = <2>;
			bias-disable;
		};
	};

	i2c1_pinmux: i2c1 {
		i2c1_scl {
			pins = "gpio16";
			function = "i2c1_scl";
			drive-strength = <2>;
			bias-pull-down;
		};

		i2c1_sda {
			pins = "gpio17";
			function = "i2c1_sda";
			drive-strength = <2>;
			bias-pull-down;
		};
	};

	i2c2_pinmux: i2c2 {
		i2c2_sda {
			pins = "gpio47";
			function = "spi10";
			drive-strength = <8>;
			bias-disable;
		};

		i2c2_scl {
			pins = "gpio48";
			function = "spi10";
			drive-strength = <8>;
			bias-pull-up;
		};
	};

	pcie0_default_state: pcie0-default-state {
		perst-n-pins {
			pins = "gpio25";
			function = "gpio";
			drive-strength = <8>;
			bias-pull-up;
			output-low;
		};
	};

	pcie1_default_state: pcie1-default-state {
		perst-n-pins {
			pins = "gpio28";
			function = "gpio";
			drive-strength = <8>;
			bias-pull-up;
			output-low;
		};
	};

	pcie2_default_state: pcie2-default-state {
		perst-n-pins {
			pins = "gpio31";
			function = "gpio";
			drive-strength = <8>;
			bias-pull-up;
			output-low;
		};
	};

	pcie3_default_state: pcie3-default-state {
		perst-n-pins {
			pins = "gpio34";
			function = "gpio";
			drive-strength = <8>;
			bias-pull-up;
			output-low;
		};
	};
};

&qupv3 {
	i2c0: i2c@1a88000 {
		pinctrl-0 = <&i2c0_pinmux>;
		pinctrl-names = "default";
		status = "okay";
	};

	i2c1: i2c@1a8c000 {
		pinctrl-0 = <&i2c1_pinmux>;
		pinctrl-names = "default";
		status = "okay";
	};

	se5: se5@1a94000 {
		compatible = "qcom,geni-i2c";
		clocks = <&gcc GCC_QUPV3_SPI1_CLK>;
		clock-names = "se";
		clock-frequency = <400000>;
		qup-se-fw-load = <&i2c2_fw>;
		qcom,geni-se-clk-32mhz;
		pinctrl-0 = <&i2c2_pinmux>;
		pinctrl-names = "default";
		status = "okay";
	};

	i2c2_fw: i2c2_firmware@0 {
		compatible = "qcom,ipq5424-geni-i2c-fw-v1",
			     "qcom,geni-i2c-fw-v1";
		reg = <0 0x1a94000 0 0x4000>;
		status = "okay";
	};
};
