if ARCH_IPQ

config SYS_SOC
	default "ipq"

config SYS_VENDOR
	string "IPQ board vendor"
	default "qualcomm"
	help
	  Allows to specify vendor for the IPQ SoCs based boards.
	  Based on this option board/<CONFIG_SYS_VENDOR>/<CONFIG_SYS_BOARD>
	  will be used as the custom board directory.

config SYS_BOARD
	string "IPQ SoCs based board"
	help
	  Allows to specify the IPQ SoCs based board name.
	  Based on this option board/<CONFIG_SYS_VENDOR>/<CONFIG_SYS_BOARD>
	  will be used as the custom board directory.

config SYS_CONFIG_NAME
	string "Board configuration name"
	default SYS_BOARD if SYS_BOARD != ""
	default "qcom"
	help
	  This option contains information about board configuration name.
	  Based on this option include/configs/<CONFIG_SYS_CONFIG_NAME>.h header
	  will be used for board configuration.

config SYS_MALLOC_LEN
	default 0x100000

config SYS_MALLOC_F_LEN
	default 0x10000

config TEXT_SIZE
	hex "Define Size of u-boot text size in DDR region"
	default 0x1C0000 if TARGET_IPQ9574
	default 0x180000 if TARGET_IPQ5332 || TARGET_IPQ5424

config ARCH_32BIT_SUPPORT
	bool "IPQSOC 32-bit support"
	select CPU_V7A
	select SYS_ARCH_TIMER
	select SYS_THUMB_BUILD
	default n

config ARCH_64BIT_SUPPORT
	bool "IPQSOC 64-bit support"
	select ARM64
	default n

config TEXT_SIZE
	hex "Define Size of u-boot text size in DDR region"
	default 0x1C0000


config RAM_NUM_PART_ENTRIES
	int "Number of RAM partition entries which are usable by APPS"
	default 32

config NUM_ALT_PARTITION
        int
        default 16

config RAM_PART_NAME_LENGTH
	int "Max length of ram partition name"
	default 16

config NOR_BLK_SIZE
	int "Block size for SPI Nor BLK device"
	depends on NOR_BLK
	default 4096

config IPQ_SPI_NOR
	bool "Enable SPI NOR flash support in IPQ SOC"
	select MTD
	select SPI
	select MISC
	select SPI_QUP if TARGET_IPQ9574 || TARGET_IPQ5332
	select MSM_GENI_SPI if TARGET_IPQ5424
	select DM_SPI
	select DM_SPI_FLASH
	select SPI_FLASH_STMICRO
	select SPI_FLASH_GIGADEVICE
	select SPI_FLASH_MACRONIX
	select SPI_FLASH_WINBOND
	select SPI_FLASH_SPANSION
	select SPI_FLASH_MTD if ENV_IS_IN_SPI_FLASH

config IPQ_NET
	bool "Enable default Network Configurations for IPQ SOC"
	select ETH
	select DM_MDIO
	select MDIO_IPQ4019
	imply MDIO_QCOM_I2C if IPQ_I2C
	select PHYLIB
	select CMD_NET
	select CMD_MDIO
	select CMD_MII
	select CMD_PING
	select CMD_TFTPPUT
	select CMD_DHCP
	select TFTP_PORT
	imply ETH_SKIP_INIT_R
	help
	  This config will enable the Ethernet support in IPQSOC

config ETH_MAX_MAC
	hex "Define Maximum MAC support in SoC"
	default 2

config ETH_MAX_UNIPHY
	int "Maximum number of uniphy available"
	default 2


config IPQ_MMC
	bool "Enable eMMC support in IPQ SOC"
	select MMC_SDHCI
	select MMC_SDHCI_MSM
	select MMC_SDHCI_ADMA
	select CMD_MMC
	imply EFI_PARTITION

config SOC_HW_VERSION_REG
	hex "Define SoC HW version register"
	default 0x194D000

config ETH_MAX_MAC
	hex "Define Maximum MAC support in SoC"
	default 2 if TARGET_IPQ5332
	default 6 if TARGET_IPQ9574
	default 3 if TARGET_IPQ5424


config FAILSAFE
	bool "Enable failsafe mechanism"
	default n
	help
	   This configuration option enables the failsafe mechanism
	   within the system. When activated, the system is capable
	   of booting from an alternative valid bank if the primary bank
	   fails. This ensures continuous operation and reliability
	   by providing a backup boot source, thereby minimizin
	   downtime and enhancing system robustness.

config BOOTCONFIG_V2
	bool "Enable Boot Configuration Version 2"
	imply FAILSAFE
	default n
	help
	   This configuration option enables Boot Configuration
	   Version 2 (BOOTCONFIG_V2).

config BOOTCONFIG_V3
	bool "Enable Boot Configuration Version 3"
	imply FAILSAFE
	default n
	help
	   This configuration option enables Boot Configuration
	   Version 3 (BOOTCONFIG_V3).

config CRC32_BE
        bool "Enable CRC32 calculation in big-endian format"
        default y if FAILSAFE
	help
	   This configuration option enables support for CRC32
	   calculations in a big-endian format.

config SCM
	bool "Add scm call support"

config SCM_V1
	bool "SCM framework version 1"
	select SCM
	default n

config SCM_V2
	bool "SCM framework version 2"
	select SCM
	default n

config IPQ_ROOTFS_AUTH
	bool "Rootfs authentication support"
	depends on IPQ_SECURE && (TARGET_IPQ9574 || TARGET_IPQ5332)
	default n
	help
	    This configuration option enables the Rootfs authentication support
	    in IPQ9574 & IPQ5332 only.

config IPQ_ELF_AUTH
	bool "IPQSOC elf image authentication"
	default n
	help
	   This configuration option enables the authentication method via
	   elf based.

config IPQ_SECURE
	bool "IPQSOC secure call support"
	imply IPQ_ELF_AUTH
	default n
	help
	   This configuration option enables secure boot support,
	   where the kernel and optionally the root filesystem are
	   authenticated before booting.

config IPQ_BOARD_DEFAULT
	bool "Enable default config for all SoC"
	default y
	imply BOARD_TYPES
	imply BOARD_LATE_INIT
	imply OF_BOARD_SETUP
	imply STACKPROTECTOR
	imply SYS_DEVICE_NULLDEV

choice
	prompt "IPQ board select"

config TARGET_IPQ5332
	bool "QCOM IPQ5332 SOC"
	imply DMA
	imply DMA_CHANNELS
	imply IPQ_MMC
	imply BOOTCONFIG_V2
	imply SCM_V1
	imply IPQ_SECURE
	select BAM_DMA if DMA
	select IPQ_NET
	select QCOM_NSS_SWITCH
	imply PHY_QCA_8X8X
	imply PHY_QCA_81XX
	imply PHY_QCA_8081
	imply PHY_QCA_8033
	imply PHY_AQUANTIA
	select CMD_CACHE
	help
	  Support for the IPQ53XX SoC.
	  - Board Open Platform Specifications.
	  - Quad Cores A53, Nom@1.2G ,Turbo@1.5G, L1@32KB L2@512KB
	  - DDR3L/DDR4
	  - QSPI NAND / NOR / eMMC
	  - USB 3.0/I2C/UART/PCIe Gen3 2Lane
	  - 1G/2.5G/10G Ethernet Ports

config TARGET_IPQ9574
	bool "QCOM IPQ9574 SOC"
	imply DMA
	imply DMA_CHANNELS
	imply IPQ_MMC
	imply BOOTCONFIG_V2
	imply SCM_V1
	imply IPQ_SECURE
	select BAM_DMA if DMA
	select IPQ_NET
	select QCOM_NSS_SWITCH
	imply PHY_QCA_8X8X
	imply PHY_QCA_81XX
	imply PHY_QCA_8075
	imply PHY_QCA_8081
	imply PHY_AQUANTIA
	select CMD_CACHE
	help
	  Support for IPQ95xx SoC.
	  - Board Open Platform Specifications.
	  - Quad Cores A73, max@2.2G, L1@32KB L2@512KB
	  - DDR3L/DDR4
	  - QSPI NAND / NOR / eMMC
	  - USB 3.0/I2C/UART/PCIe Gen3 2Lane
	  - 1G/2.5G/10G Ethernet Ports

config TARGET_IPQ5424
	bool "QCOM IPQ5424"
	imply NOR_BLK
	imply IPQ_MMC
	imply BOOTCONFIG_V3
	imply SCM_V2
	imply IPQ_SECURE
	imply SHA384
	select IPQ_NET
	select QCOM_NSS_SWITCH
	imply PHY_QCA_8X8X
	imply PHY_QCA_81XX
	imply PHY_QCA_8081
	imply PHY_AQUANTIA
	select CMD_CACHE
	help
	  Support for IPQ5424 SoC.
	  - Board Open Platform Specifications.
	  - Quad Cores A55, Nom@1.4G, Turbo@1.8G, L1@32KB L2@512KB, L3@1MB
	  - DDR3L/DDR4
	  - QSPI NAND / NOR / eMMC
	  - USB 3.0/I2C/UART/PCIe Gen3 2Lane
	  - 2.5G/10G Ethernet Ports

endchoice

endif
