// SPDX-License-Identifier: GPL-2.0-only
/*
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 */

/dts-v1/;

#include "ipq5210-u-boot.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. IPQ5210 RDP497";
	compatible = "qcom,ipq5210-rdp497", "qcom,ipq5210";

	aliases {
		serial0 = &uart1;
	};

	soc@0 {
		qmp_ssphy_0: ssphy@7D000 {
			status = "okay";
		};

		qusb2_phy_0: qusb2_0@7B000 {
			status = "okay";
		};

		usb3_0: usb3_0@8af8800 {
			status = "okay";
		};

		mdio_ahb: mdio-ahb@1400000 {
			phy1: phy@29 {
				reg = <29 0>;
				phy_addr = <29>;
				phy_type = <INTERNAL_PHY_TYPE>;
				id = <4>;
				uniphy_id = <0xFF>;
				uniphy_type = <1>;

				clocks = <&nsscc NSS_CC_EPHY_RX_CLK>,
					 <&nsscc NSS_CC_EPHY_TX_CLK>,
					 <&gcc GCC_GEPHY_SYS_CLK>;
				clock-names = "ephy_rx_clk",
					      "ephy_tx_clk",
					      "sys_clk";

				resets = <&nsscc NSS_CC_EPHY_RX_CLK_ARES>,
					 <&nsscc NSS_CC_EPHY_TX_CLK_ARES>,
					 <&gcc GCC_GEPHY_SYS_CLK_ARES>;
				reset-names = "ephy_rx_reset",
					      "ephy_tx_reset",
					      "sys_clk_reset";

				qcom,ldo-bias-reg = <0x1961000>;
				qcom,pll-src-sel-reg = <0x9B42c>;
				qcom,ephy-rx-mux-reg = <0x39B00610 0x0>;
				qcom,ephy-tx-mux-reg = <0x39B00614 0x0>;
			};
		};

		mdio: mdio@90000 {
			status = "okay";
			clk_div = /bits/ 8 <31>;
			phy0: phy@8 {
				phy-reset-gpio = <&tlmm 24 0>;
				phy_addr = <8>;
				phy_type = <QCA81xx_PHY_TYPE>;
				id = <1>;
				uniphy_id = <0>;
				uniphy_type = <0>;
				xgmac;
				qcom,force-speed;
				max-speed = <1000>;
			};
		};

		ess_instance: ess-instance {
			pinctrl-names = "default";
			pinctrl-0 = <&phy_rst_pinmux>;
			phy-handle0 = <&phy0>;
			phy-handle1 = <&phy1>;
			status = "okay";
		};
	};
};

&tlmm {
	phy_rst_pinmux: phy_rst {
		qti_laguna0_rst {
			pins = "gpio24";
			function = "gpio";
			drive-strength = <2>;
			bias-pull-up;
			output-high;
		};
	};

	spi0_pinmux: spi0 {
		spi0_sclk {
			pins = "gpio6";
			function = "qup_se0_l2";
			drive-strength = <6>;
			bias-pull-down;
		};

		spi0_cs0 {
			pins = "gpio7";
			function = "qup_se0_l3";
			drive-strength = <6>;
			bias-pull-up;
		};

		spi0_miso {
			pins = "gpio8";
			function = "qup_se0_l0";
			drive-strength = <6>;
			bias-pull-down;
		};

		spi0_mosi {
			pins = "gpio9";
			function = "qup_se0_l1";
			drive-strength = <6>;
			bias-pull-down;
		};
	};
};

&tmel_qmp {
	status = "okay";
};

&tmelcom {
	status = "okay";
};
