// SPDX-License-Identifier: GPL-2.0-only
/*
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 */

/dts-v1/;

#include "ipq5200-u-boot.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. IPQ5200-EMULATION";
	compatible = "qcom,ipq5200-emulation", "qcom,ipq5200";
};
