// SPDX-License-Identifier: GPL-2.0-only
/*
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 */

/dts-v1/;

#include "ipq5210-u-boot.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. IPQ5210 RDP498";
	compatible = "qcom,ipq5210-rdp498", "qcom,ipq5210";

	aliases {
		serial0 = &uart1;
	};

	soc@0 {
		qmp_ssphy_0: ssphy@7D000 {
			status = "okay";
		};

		qusb2_phy_0: qusb2_0@7B000 {
			status = "okay";
		};

		usb3_1: usb3_1@8af8800 {
			status = "okay";
		};

		pcie0: pcie@70000000 {
			pinctrl-0 = <&pcie0_default_state>;
			pinctrl-names = "default";
			perst-gpios = <&tlmm 32 GPIO_ACTIVE_LOW>;
			status = "okay";
		};

		mdio: mdio@90000 {
			status = "okay";
			phy0: phy@0 {
				phy-reset-gpio = <&tlmm 24 0>;
				phy_addr = <0>;
				phy_type = <QCA8075_PHY_TYPE>;
				id = <1>;
				uniphy_id = <0>;
				uniphy_type = <0>;
			};

			phy1: phy@1 {
				phy_addr = <1>;
				phy_type = <QCA8075_PHY_TYPE>;
				id = <2>;
				uniphy_id = <0>;
				uniphy_type = <0>;
			};

			phy2: phy@2 {
				phy_addr = <2>;
				phy_type = <QCA8075_PHY_TYPE>;
				id = <3>;
				uniphy_id = <0>;
				uniphy_type = <0>;
			};
		};

		ess_instance: ess-instance{
			pinctrl-names = "default";
			pinctrl-0 = <&phy_rst_pinmux>;
			phy-handle0 = <&phy0>;
			phy-handle1 = <&phy1>;
			phy-handle2 = <&phy2>;
			status = "okay";
		};
	};
};

&tlmm {
	pcie0_default_state: pcie0-default-state {
		perst-n-pins {
			pins = "gpio32";
			function = "gpio";
			drive-strength = <6>;
			bias-pull-down;
			output-low;
		};
	};

	phy_rst_pinmux: phy_rst {
		qca_8075_rst {
			pins = "gpio24";
			drive-strength = <6>;
			bias-pull-down;
		};
	};
};

&tmel_qmp {
	status = "okay";
};

&tmelcom {
	status = "okay";
};
