// SPDX-License-Identifier: GPL-2.0-only
/*
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 */

/dts-v1/;

#include "ipq9650-u-boot.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. IPQ9650-EMULATION";
	compatible = "qcom,ipq9650-emulation", "qcom,ipq9650";
};

&tmel_qmp {
	status = "okay";
};

&tmelcom {
	status = "okay";
};

&i2c2 {
	status = "okay";
};

&i2c2_fw {
	status = "okay";
};

&i2c3 {
	status = "okay";
};

&i2c3_fw {
	status = "okay";
};
