// SPDX-License-Identifier: GPL-2.0-only
/*
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 */

/dts-v1/;

#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <asm/arch/dt-bindings/clock/qcom,ipq9670-gcc.h>
#include <asm/arch/dt-bindings/reset/qcom,ipq9670-gcc.h>
#include <dt-bindings/gpio/gpio.h>

/ {
	compatible = "qcom,ipq9670-emulation", "qcom,ipq9670";

	#address-cells = <2>;
	#size-cells = <2>;

	aliases {
		serial0 = &uart1;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		smem_mem: smem_region@8a800000 {
			bootph-all;
			reg = <0x0 0x8a800000 0x0 0x32000>;
			no-map;
		};
	};

	smem {
		bootph-all;
		compatible = "qcom,smem";
		memory-region = <&smem_mem>;
	};

	soc@0 {
		compatible = "simple-bus";
		#address-cells = <2>;
		#size-cells = <2>;
		ranges = <0 0 0 0 0x10 0>;

		tlmm: pinctrl@1000000 {
			bootph-all;
			compatible = "qcom,ipq9670-tlmm";
			reg = <0 0x01000000 0 0x300000>;
			gpio-controller;
			#gpio-cells = <2>;
			gpio-ranges = <&tlmm 0 0 53>;
			interrupt-controller;
			#interrupt-cells = <2>;

			uart1_pins: uart1-state {
				bootph-all;
				pins = "gpio38", "gpio39";
				function = "uart1";
				drive-strength = <8>;
				bias-pull-up;
			};
		};

		gcc: clock-controller@1800000 {
			bootph-all;
			compatible = "qcom,ipq9670-gcc";
			reg = <0 0x01800000 0 0x40000>;
			#clock-cells = <1>;
			#reset-cells = <1>;
			#power-domain-cells = <1>;
		};

		qupv3: geniqup@1ac0000 {
			bootph-all;
			compatible = "qcom,geni-se-qup";
			reg = <0 0x01ac0000 0 0x2000>;
			clocks = <&gcc GCC_QUPV3_AHB_MST_CLK>,
				 <&gcc GCC_QUPV3_AHB_SLV_CLK>;
			clock-names = "m-ahb", "s-ahb";
			ranges;
			#address-cells = <2>;
			#size-cells = <2>;

			status = "disabled";

			uart1: serial@1a84000 {
				bootph-all;
				compatible = "qcom,geni-debug-uart";
				reg = <0 0x1a84000 0 0x4000>;
				clocks = <&gcc GCC_QUPV3_UART1_CLK>;
				clock-names = "se";
				status = "disabled";
			};
		};

		sdhc: mmc@7804000 {
			bootph-all;
			compatible = "qcom,ipq9670-sdhci", "qcom,sdhci-msm-v5";
			reg = <0 0x07804000 0 0x1000>, <0 0x07805000 0 0x1000>;
			reg-names = "hc", "cqhci";

			clocks = <&gcc GCC_SDCC1_AHB_CLK>,
				 <&gcc GCC_SDCC1_APPS_CLK>;
			clock-names = "iface", "core";

			status = "disabled";
		};
		nand: nand-controller@79B0000 {
			bootph-all;
			compatible = "qti,spi-nand-v2.1.3";
			#address-cells = <2>;
			#size-cells = <2>;
			reg = <0x0 0x79B0000 0x0 0x10000>;
			assigned-clocks = <&gcc GCC_QPIC_CLK>,
					 <&gcc GCC_QPIC_IO_MACRO_CLK>;
			assigned-clock-rates = <100000000>, <50000000>;
			clock-names = "qpic-clk",
				      "qpic-io-macro-clk",
				      "qpic-ahb-clk";
			clocks = <&gcc GCC_QPIC_CLK>,
				<&gcc GCC_QPIC_IO_MACRO_CLK>,
				<&gcc GCC_QPIC_AHB_CLK>;

			bam_reg = <0x07984000>;
			status_pipe = <3>;
			status_pipe_grp = <0>;
			read_pipe = <1>;
			read_pipe_grp = <0>;
			write_pipe = <0>;
			write_pipe_grp = <0>;
			cmd_pipe = <2>;
			cmd_pipe_grp = <1>;
			pinctrl-0 = <&qspi_pinmux>;
			pinctrl-names = "default";
			status = "okay";
		};
	};
};

&tlmm {
	uart1_pins: uart1-state {
		bootph-all;
	};

	sdc_default_state: sdc-default-state {
		bootph-all;
		clk-pins {
			bootph-all;
			pins = "gpio5";
			function = "sdc_clk";
			drive-strength = <8>;
			bias-disable;
		};

		cmd-pins {
			bootph-all;
			pins = "gpio4";
			function = "sdc_cmd";
			drive-strength = <8>;
			bias-pull-up;
		};

		data-pins {
			bootph-all;
			pins = "gpio0", "gpio1", "gpio2", "gpio3";
			function = "sdc_data";
			drive-strength = <8>;
			bias-pull-up;
		};
	};

	spi0_pinmux: spi0 {
		bootph-all;
		spi0_sclk {
			bootph-all;
			pins = "gpio6";
			function = "spi0_clk";
			drive-strength = <8>;
			bias-pull-down;
		};

		spi0_cs0 {
			bootph-all;
			pins = "gpio7";
			function = "spi0_cs";
			drive-strength = <8>;
			bias-pull-up;
		};

		spi0_miso {
			bootph-all;
			pins = "gpio8";
			function = "spi0_miso";
			drive-strength = <8>;
			bias-pull-down;
		};

		spi0_mosi {
			bootph-all;
			pins = "gpio9";
			function = "spi0_mosi";
			drive-strength = <8>;
			bias-pull-down;
		};
	};

	qspi_pinmux: nand {
		bootph-all;
		qspi_data {
			bootph-all;
			pins = "gpio0", "gpio1", "gpio2","gpio3";
			function = "qspi_data";
			drive-strength = <8>;
			bias-pull-up;
		};

		qspi_cs_n {
			bootph-all;
			pins = "gpio4";
			function = "qspi_cs";
			drive-strength = <8>;
			bias-pull-up;
		};

		qspi_clk {
			bootph-all;
			pins = "gpio5";
			function = "qspi_clk";
			drive-strength = <8>;
			bias-disable;
		};
	};
};

&sdhc {
	bootph-all;
	bus-width = <4>;
	max-frequency = <192000000>;
	mmc-ddr-1_8v;
	non-removable;
	pinctrl-0 = <&sdc_default_state>;
	pinctrl-names = "default";
	sdhci-caps-mask = <0x0 0x04000000>;
	sdhci-caps = <0x0 0x04000000>;
	resets = <&gcc GCC_SDCC_BCR>;
	reset-names = "bcr_rst";
	status = "okay";
};

&qupv3 {
	bootph-all;
	status = "okay";
	uart1: serial@1a84000 {
		bootph-all;
		pinctrl-0 = <&uart1_pins>;
		pinctrl-names = "default";
		qup-se-fw-load = <&uart1_fw>;
		status = "okay";
	};

	uart1_fw: uart_firmware@0 {
		bootph-all;
		compatible = "qcom,ipq9670-geni-uart-fw-v1", "qcom,geni-uart-fw-v1";
		reg = <0 0x01a84000 0 0x4000>;
		status = "okay";
	};
	spi0: spi@1a80000 {
		bootph-all;
		compatible = "qcom-ipq9670-geni-spi","qcom-ipq5424-geni-spi";
		reg = <0 0x1a80000 0 0x4000>;
		reg-names = "se_phys";
		clocks = <&gcc GCC_QUPV3_SPI0_CLK>;
		clock-names = "se-spi-clk";
		clock-frequency = <50000000>;
		nor-blk-enable;
		status = "okay";
		#address-cells = <1>;
		#size-cells = <0>;
		qup-se-fw-load = <&spi0_fw>;

		pinctrl-0 = <&spi0_pinmux>;
		pinctrl-names = "default";

		nor-flash@0 {
			bootph-all;
			compatible = "jedec,spi-nor";
			reg = <0 0 0 0>;
			spi-max-frequency = <50000000>;
		};
	};

	spi0_fw: spi_firmware@0 {
		bootph-all;
		compatible = "qcom,ipq9670-geni-spi-fw-v1",
			     "qcom,geni-spi-fw-v1";
		reg = <0 0x1a80000 0 0x4000>;
		reg-names = "se_phys";
	};
};
