// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright (c) 2025, Qualcomm Innovation Center, Inc. All rights reserved.
 */

/ {

	reserved-memory {

		/delete-node/ smem;
		smem_mem: smem_region@4aa00000 {
			reg = <0x0 0x4aa00000 0x0 0x100000>;
			no-map;
		};
	};

	smem {
		compatible = "qcom,smem";
		memory-region = <&smem_mem>;
		hwlocks = <&tcsr_mutex 3>;
	};
};

&sdhc_1 {
	sdhci-caps-mask = <0x0 0x04000000>;
	sdhci-caps = <0x0 0x04000000>;
	resets = <&gcc GCC_SDCC_BCR>;
	reset-names = "bcr_rst";
	max-frequency = <96000000>;
};

&blsp1_spi0 {
	force-cs;
	dmas = <&blsp_dma 12 1 16 0 0xFFFF 16>,
	       <&blsp_dma 13 2 16 0 0xFFFF 16>;
	status = "okay";
};

&blsp_dma {
	#dma-cells = <6>;
	status = "okay";
};
