CONFIG_ARM=y
CONFIG_ARCH_IPQ=y
CONFIG_ARCH_64BIT_SUPPORT=y
# CONFIG_ARM64_SUPPORT_AARCH32 is not set
CONFIG_ARM_SMCCC=y
CONFIG_HAS_VBAR=y
CONFIG_SYS_BOARD="ipq9574"
CONFIG_SYS_CONFIG_NAME="ipq9574"
CONFIG_SYS_PROMPT="IPQ9574# "
CONFIG_TARGET_IPQ9574=y
CONFIG_SKIP_LOWLEVEL_INIT=y
CONFIG_COUNTER_FREQUENCY=24000000
CONFIG_SYS_MALLOC_F_LEN=0x40000
CONFIG_SYS_MALLOC_F=y
CONFIG_SYS_LOAD_ADDR=0x50000000
CONFIG_TEXT_BASE=0x4A240000
CONFIG_TEXT_SIZE=0x1C0000
CONFIG_SMEM_BASE_ADDR=0x4AA00000
CONFIG_NR_DRAM_BANKS=1
CONFIG_SMEM=y
CONFIG_SYS_MALLOC_LEN=0x1C0000
CONFIG_DM_SERIAL=y
CONFIG_DEVICE_TREE_INCLUDES="ipq9574-u-boot.dtsi"
CONFIG_DEFAULT_DEVICE_TREE="qcom/ipq9574-rdp433-ub"
CONFIG_OF_LIST="qcom/ipq9574-db-al01-c1 qcom/ipq9574-db-al01-c3 qcom/ipq9574-db-al02-c1 qcom/ipq9574-db-al02-c3 qcom/ipq9574-rdp417 qcom/ipq9574-rdp418-ub qcom/ipq9574-rdp433-ub qcom/ipq9574-rdp433-mht-phy qcom/ipq9574-rdp433-mht-switch qcom/ipq9574-rdp433-sfp qcom/ipq9574-rdp437 qcom/ipq9574-rdp449-ub qcom/ipq9574-rdp453-ub qcom/ipq9574-rdp454-ub qcom/ipq9574-rdp455 qcom/ipq9574-rdp456 qcom/ipq9574-rdp457 qcom/ipq9574-rdp458 qcom/ipq9574-rdp459 qcom/ipq9574-rdp461 qcom/ipq9574-rdp467 qcom/ipq9574-rdp469 qcom/ipq9574-rdp475 qcom/ipq9574-rdp475-qca81xx qcom/ipq9574-rdp475-qca81xx-i2c qcom/ipq9574-rdp476"
CONFIG_LOCALVERSION=""
CONFIG_LOCALVERSION_AUTO=y
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_EXPERT=y
CONFIG_SYS_MALLOC_CLEAR_ON_INIT=y
CONFIG_FIT=y
CONFIG_FIT_VERBOSE=y
CONFIG_OF_LIBFDT=y
# CONFIG_BOOTSTD_BOOTCOMMAND is not set
# CONFIG_PSCI_RESET is not set
CONFIG_FIRMWARE=y
CONFIG_FIT_SIGNATURE=n
CONFIG_TOOLS_LIBCRYPTO=y
CONFIG_TOOLS_FIT_RSASSA_PSS=n
CONFIG_TOOLS_FIT_SIGNATURE=n
CONFIG_TOOLS_SHA1=n
CONFIG_TOOLS_SHA256=n
CONFIG_TOOLS_SHA384=n
CONFIG_TOOLS_SHA512=n
CONFIG_SYS_EXTRA_OPTIONS=""
CONFIG_USE_PREBOOT=y
CONFIG_PREBOOT="crashdump"
CONFIG_USE_BOOTARGS=y
CONFIG_USE_BOOTCOMMAND=y
CONFIG_BOOTCOMMAND="bootipq"
CONFIG_BOOTARGS="console=ttyMSM0,115200n8"
# CONFIG_BOOTSTD is not set
CONFIG_HUSH_PARSER=y
CONFIG_SYS_MAXARGS=64
CONFIG_STACKPROTECTOR=y
CONFIG_MSM_SMEM=y
CONFIG_DTB_RESELECT=y
CONFIG_MULTI_DTB_FIT=y
CONFIG_MULTI_DTB_FIT_GZIP=y
CONFIG_MULTI_DTB_FIT_USER_DEFINED_AREA=y
CONFIG_MULTI_DTB_FIT_USER_DEF_ADDR=0x4A400000
CONFIG_MULTI_DTB_FIT_UNCOMPRESS_SZ=0x100000
# CONFIG_CMD_BOOTI is not set
CONFIG_ENV_OVERWRITE=y
CONFIG_CLK=y
CONFIG_PINCTRL=y
# CONFIG_MMC is not set
# CONFIG_EFI_LOADER is not set
CONFIG_IPQ_NAND=y
CONFIG_IPQ_FLASH_PART_FIXUP=y
# CONFIG_CMD_UBIFS is not set
CONFIG_MSM_GPIO=y
CONFIG_CMD_GPIO=y
CONFIG_GPIO=y
CONFIG_MSM_SERIAL=y
CONFIG_STACK_SIZE=0x80000
CONFIG_SYS_BOOTM_LEN=0x4000000
CONFIG_DM_RESET=y
CONFIG_RAM_NUM_PART_ENTRIES=32
CONFIG_RAM_PART_NAME_LENGTH=16
CONFIG_RESET_QCOM=y
CONFIG_NUM_ALT_PARTITION=16
CONFIG_BOARD_TYPES=y
CONFIG_BOARD_EARLY_INIT_F=y
CONFIG_IPQ_SPI_NOR=y
# CONFIG_SPI_FLASH_USE_4K_SECTORS is not set
CONFIG_ENV_IS_IN_NAND=y
CONFIG_ENV_SIZE=0x40000
CONFIG_ENV_RANGE=0x80000
CONFIG_ENV_OFFSET=0x1100000
CONFIG_SF_DEFAULT_BUS=0
CONFIG_SF_DEFAULT_CS=0
CONFIG_SF_DEFAULT_MODE=0x0
CONFIG_SF_DEFAULT_SPEED=50000000
CONFIG_SYS_RX_ETH_BUFFER=128
CONFIG_ETH_MAX_MAC=6
CONFIG_ETH_MAX_UNIPHY=3
CONFIG_TFTP_BLOCKSIZE=1280
# CONFIG_CMD_FLASH is not set
CONFIG_BOOTDELAY=2
CONFIG_OF_BOARD_SETUP=y
CONFIG_SYS_CBSIZE=1024
CONFIG_CLK_QCOM_IPQ9574=y
CONFIG_PINCTRL_QCOM_IPQ9574=y
CONFIG_PINCONF=y
# CONFIG_ENV_IS_IN_SPI_FLASH is not set
CONFIG_BOARD_EARLY_INIT_R=y
CONFIG_LZMA=y
CONFIG_QSPI_SERIAL_TRAINING=y
CONFIG_PAGE_SCOPE_MULTI_PAGE_READ=y
CONFIG_DMA=y

# CONFIG_CMD_MMC is not set
# CONFIG_DISPLAY_CPUINFO is not set
CONFIG_OF_BOARD_FIXUP=y
# CONFIG_DDR_SI_TEST is not set
# CONFIG_LEGACY_HASHING_AND_CRYPTO is not set
# CONFIG_CMD_ELF_BOOTVX is not set
# CONFIG_SHA1_LEGACY is not set
