CONFIG_ARM=y
CONFIG_ARCH_IPQ=y
CONFIG_ARCH_32BIT_SUPPORT=y
CONFIG_ARM_SMCCC=y
CONFIG_HAS_VBAR=y
CONFIG_SYS_BOARD="ipq9574"
CONFIG_SYS_CONFIG_NAME="ipq9574"
CONFIG_SYS_PROMPT="IPQ9574# "
CONFIG_TARGET_IPQ9574=y
CONFIG_SKIP_LOWLEVEL_INIT=y
CONFIG_NR_DRAM_BANKS=1
CONFIG_TEXT_BASE=0x4A240000
CONFIG_TEXT_SIZE=0x1C0000
CONFIG_SYS_LOAD_ADDR=0x50000000
CONFIG_DEVICE_TREE_INCLUDES="ipq9574-u-boot.dtsi"
CONFIG_DEFAULT_DEVICE_TREE="qcom/ipq9574-rdp433"
CONFIG_OF_LIST="qcom/ipq9574-db-al01-c1 qcom/ipq9574-db-al01-c3 qcom/ipq9574-db-al02-c1 qcom/ipq9574-db-al02-c3 qcom/ipq9574-rdp417 qcom/ipq9574-rdp418 qcom/ipq9574-rdp433 qcom/ipq9574-rdp433-mht-phy qcom/ipq9574-rdp433-mht-switch qcom/ipq9574-rdp433-sfp qcom/ipq9574-rdp437 qcom/ipq9574-rdp449 qcom/ipq9574-rdp453 qcom/ipq9574-rdp454 qcom/ipq9574-rdp455 qcom/ipq9574-rdp456 qcom/ipq9574-rdp457 qcom/ipq9574-rdp458 qcom/ipq9574-rdp459 qcom/ipq9574-rdp461 qcom/ipq9574-rdp467 qcom/ipq9574-rdp469 qcom/ipq9574-rdp475 qcom/ipq9574-rdp475-qca81xx qcom/ipq9574-rdp475-qca81xx-i2c qcom/ipq9574-rdp475-qce1204 qcom/ipq9574-rdp476"
CONFIG_FIT=y
CONFIG_FIT_VERBOSE=y
CONFIG_BOOTDELAY=2
CONFIG_OF_BOARD_SETUP=y
CONFIG_SYS_CBSIZE=1024
# CONFIG_EFI_LOADER is not set
CONFIG_MSM_GPIO=y
CONFIG_CLK_QCOM_IPQ9574=y
CONFIG_PINCTRL_QCOM_IPQ9574=y
CONFIG_MSM_SERIAL=y
CONFIG_BOARD_EARLY_INIT_F=y
CONFIG_PINCONF=y
CONFIG_IPQ_MMC=y
CONFIG_IPQ_INLINE_ENCRYPTION=y
# CONFIG_PRPL_MMC_LABEL is not set
CONFIG_ENV_IS_IN_MMC=y
CONFIG_ENV_OVERWRITE=y
CONFIG_USE_ENV_MMC_PARTITION=y
CONFIG_SYS_MMC_ENV_PART=0
CONFIG_ENV_MMC_PARTITION="0:APPSBLENV"
CONFIG_ENV_OFFSET=0
CONFIG_ENV_SIZE=0x40000
CONFIG_ENV_RANGE=0x40000
CONFIG_FS_CRASHDUMP_ENCRYPTED=y
# CONFIG_PSCI_RESET is not set
CONFIG_USE_PREBOOT=y
CONFIG_PREBOOT="crashdump"
CONFIG_USE_BOOTCOMMAND=y
CONFIG_BOOTCOMMAND="bootipq"
CONFIG_USE_BOOTARGS=y
CONFIG_BOOTARGS="console=ttyMSM0,115200n8"
# CONFIG_CMD_BOOTI is not set
# CONFIG_DISPLAY_CPUINFO is not set
CONFIG_BOARD_EARLY_INIT_R=y
CONFIG_MULTI_DTB_FIT=y
CONFIG_MULTI_DTB_FIT_LZO=y
CONFIG_SYS_MALLOC_F=y
CONFIG_SYS_MALLOC_F_LEN=0x40000
CONFIG_DTB_RESELECT=y
CONFIG_SYS_MALLOC_LEN=0x1C0000
CONFIG_LZMA=y
CONFIG_MULTI_DTB_FIT_USER_DEFINED_AREA=y
CONFIG_MULTI_DTB_FIT_USER_DEF_ADDR=0x4A400000
CONFIG_MULTI_DTB_FIT_UNCOMPRESS_SZ=0x100000
CONFIG_ETH_MAX_MAC=6
CONFIG_ETH_MAX_UNIPHY=3
CONFIG_SYS_RX_ETH_BUFFER=128
CONFIG_TFTP_BLOCKSIZE=1280
CONFIG_PHY_ANEG_TIMEOUT=100
# CONFIG_BOOTSTD is not set
CONFIG_COUNTER_FREQUENCY=24000000
# CONFIG_DDR_SI_TEST is not set
# CONFIG_LEGACY_HASHING_AND_CRYPTO is not set
# CONFIG_CMD_ELF_BOOTVX is not set
# CONFIG_SHA1_LEGACY is not set
CONFIG_IPQ_SPI_NOR=y
